@import "../vendor/bootstrap/scss/bootstrap.scss";

@import "global";
@import "navbar";
@import "fonts";


@import "pages/home";
@import "pages/details";
@import "pages/carts";
@import "pages/success.scss";
@import "pages/auth";
@import "transitions/slide-fade";

@import "component/categories";
@import "component/products";
@import "component/breadcrumb";